<footer>
  <div class="container">
    <h3>Stay Updated with EdVantage Learning An International Academy</h3>
    <form class="newsletter-form d-flex">
      <input type="email" class="form-control" placeholder="Enter your email" required>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    <p>© 2025 EdVantage Learning An International Academy. All rights reserved.</p>
    <div class="social-icons">
      <a href="#!"><i class="fab fa-facebook-f"></i></a>
      <a href="#!"><i class="fab fa-twitter"></i></a>
      <a href="#!"><i class="fab fa-instagram"></i></a>
      <a href="#!"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
