<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#home">
      <img src="https://portal.flexiblelearning.org.uk/assets/img/portal.flexiblelearning.org.uk_alt.svg" alt="Logo" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas">
      <i class="fas fa-bars"></i>
    </button>
    <div class="offcanvas offcanvas-end" id="navbarOffcanvas">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link {% if request.path == '/courses/' %}active{% endif %}" href="../courses/">Courses</a></li>
          <li class="nav-item"><a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="../about/">About</a></li>
          <li class="nav-item"><a class="nav-link faq-btn {% if request.path == '/faq/' %}active{% endif %}" href="../faq/">FAQs</a></li>
          <li class="nav-item"><a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="../contact/">Contact</a></li>
          <li class="nav-item"><a class="nav-link signin-btn {% if request.path == '/signup/' %}active{% endif %}" href="../signup/">Sign In</a></li>
          <li class="nav-item"><a class="nav-link " href="../career/">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


